@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  margin: 0 auto;
  max-width: 1200px;
  
}

@layer components {
  .container {
    @apply container;
  }


  .nav-link {
    @apply relative hover:font-bold hover:text-green-600 transition-all;
  }

  .nav-btn {
    @apply relative hover:font-bold hover:text-red-600 transition-all;
  }
}


@theme {
  --color-mainColor: #0aad0a;
  --color-first: #01854C;
}



html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: #F3F4F6;
}