@import "tailwindcss";

@theme {
  --color-mainColor: #0aad0a;
  --color-first: #01854C;
}

/* Enable dark mode variant via class on html/body */
@custom-variant dark (&:where(.dark, .dark *));

/* custom container utility used across the app */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* navbar helpers */
.nav-link { @apply relative hover:font-bold hover:text-first transition-all; }
.nav-btn { @apply relative hover:font-bold hover:text-red-600 transition-all; }

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: #F3F4F6;
}